{% extends 'base.html' %}
{% load static %}
{% block title %}Payment{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'payment/process.css' %}">
<div>
    <h1>Order Summary</h1>
    <table>
        <tr>
            <td>Image</td>
            <td>Product</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Total</td>
        </tr>
        {% for item in order.items.all %}
        <tr>
            <td><img src="{{item.product.image.url}}" height="100px" width="100px"></td>
            <td>{{item.product.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.quantity}}</td>
            <td>₹{{item.get_cost }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Total </td>
            <td></td>
            <td></td>
            <td></td>
            <td><b>₹{{order.get_total_cost }}</b></td>
        </tr>
    </table>
    <h2>Select a payment method</h2>
    <ul>
        
        <form action="{% url 'payment:confirm' %}" method="POST">
            <input type="submit" value="Cash on Delivery" id="confirm">
            {% csrf_token %}
        </form>
        
        
        <form action="{% url 'payment:process' %}" method="POST">
            <input type="submit" value="Pay by Card" id="paynow">
            {% csrf_token %}
        </form>
        
    </ul>
    
    
</div>
{% endblock %}